.contact-image-section {
	border: thin solid black;
	background-image: url("../contact-us-hero.jpg");
    background-size: cover;
	height: 400px;
	width: 100%;
	background-repeat: repeat; 
	margin-top: 0;	
}

h2 {
	text-align: center;
	color: #ffffff;
	font-style: bold;
	font-size: 50px;
	padding-top: 120px;
}

.abbreviation{
	text-align: center;
	font-size: 20px;
	color: #ffffff;
	padding-top: 0px;
}

.inquiry-section {
	/*border: thin solid black;*/
	background-color: #ffffff;
	height: 600px;
	width: 100%;
}

h3 {
	text-align: center;
	font-size: 40px;
	font-style: bold;
	padding-top: 60px;
	color: black;

}

p.purpose {
	text-align: center;
	font-size: 20px;
	color: black;
	padding-top: 0px;
}

div.image1 {
    /*border: thin solid black;*/
	padding-top: 50px;
	padding-left: 130px;
	/*position: right;*/
}

div.image2 {
    /*border: thin solid black;*/
	padding-top: 50px;
	padding-left: 130px;
	/*position: right;*/
}

div.image3 {
    /*border: thin solid black;*/
	padding-top: 50px;
	padding-left: 120px;
    
	/*position: right;*/
}

.Contact-panel-content {
    text-align: center;
    
}

p.imageText1 {
	font-style: bold;
	padding-top: 10px;
	font-size: 20px;
}

p.imageText2 {
	font-style: bold;
	padding-top: 10px;
	font-size: 20px;
}

p.imageText3 {
	font-style: bold;
	padding-top: 10px;
	font-size: 20px;
}

.imageText3-content {
       font-size: 15px;
    padding-bottom: 15px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    color: #ff0000;
    padding: 15px 32px;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid #e39300;
    font-weight: 300;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    font-size: 45px;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e39300;
    border: 1px solid #e39300;
    color: #fff;
    margin-right: 15px;
}

.btn:hover,
.btn:active {
    background-color: #e39300;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #e39300;
}

div.info1 {
	background-color: lightgray;
	height: 500px;
    margin: 0px;
}

div.info2 {
    /*border: thin solid black;*/
	background-color: #ffffff;
	height: 500px;
	
}

h4 {
    font-size: 20px;
	font-style: bold;
	padding-top: 40px;
	color: black;
}

p.companyName {
    font-size: 18px;
    padding-top: 10px;
    letter-spacing: 1px; 
}

address {
    font-size: 18px;
    padding-top: 5px;
    letter-spacing: 1px;
}

p.contactInfo {
    font-size: 18px;
    padding-top: 10px;
    letter-spacing: 1px;
}

#map {
    width: 545px;
    height: 500px;
    background: #fff;
    margin: 0px;
}